.material-card__obtainable-days {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;

  &-item {
    font-size: .9rem;
    font-weight: bold;

    &:not(:last-of-type)::after {
      content: '/';
      font-weight: bold;
      color: var(--text-muted);
      margin-inline: .25rem;
    }
  }
}