@use '../../../../styles/partials' as *;

.search-result {
  &:not(&--show-not-save) .search-result-item--hide {
    display: none;
  }

  &--wrap {
    .search-result__list {
      --min: 20em;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    }

    .search-result-item--end {
      margin-top: 2em;
      flex: 1 1 100%;
      text-align: center;
    }

    .search-result-item .character-details__grouped {
      @extend %character-details-dropdown;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  >.tab-bar>.tab-bar__tabs {
    position: sticky;
    top: 0;
    z-index: 1;

    *:not(.tab-bar__tab) {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      margin-left: 1ch;
      gap: .5ch;
    }
  }
}