@use '../../../styles/partials' as *;

.site-header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  box-shadow: 0 0 5px 3px #22222266;

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        text-decoration: none;
        color: var(--text-secondary);
        padding: .5rem;
        border-radius: .25rem;
        background-color: var(--background-secondary);

        &:hover {
          color: var(--text-brand);
          box-shadow: 0 0 5px 3px #22222266;
        }
      }
    }

    li:has(a[href*=skip-nav]:not(:focus)) {
      @extend %hidden;

      visibility: visible;
      position: absolute;
    }
  }

  .tab-bar {
    width: fit-content;
    margin-inline: auto;
  }
}

.top-header {
  display: grid;
  grid-template-areas: "blank nav settings";
  grid-template-columns: 1fr auto 1fr;

  @media (max-width: 920px) {
    grid-template-areas: "nav settings";
    grid-template-columns: auto auto;
  }

  @media (max-width: 700px) {
    grid-template-areas: "settings" "nav";
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1em;
  }

  nav {
    grid-area: nav;
  }

  .settings-container {
    grid-area: settings;
    display: flex;
    align-items: center;
    gap: .5em;
    justify-self: end;

    @media (max-width: 700px) {
      justify-self: auto;
    }

    .input-group {
      flex-direction: column;
    }

    .character-image {
      --size: 2rem;
    }
  }
}