@use '../../../styles/partials' as *;

.site-header {
  display: flex;
  justify-content: center;  
  gap: 1em;
  
  padding: 1em;
  box-shadow: 0 0 5px 3px #22222266;
  min-height: 5rem;

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        text-decoration: none;
        color: var(--text-secondary);
        padding: .5rem;
        border-radius: .25rem;
        background-color: var(--background-secondary);

        &:hover {
          color: var(--text-brand);
          box-shadow: 0 0 5px 3px #22222266;
        }
      }
    }

    li:has(a[href*=skip-nav]:not(:focus)) {
      @extend %hidden;

      visibility: visible;
      position: absolute;
    }
  }

  .settings-container {
    display: flex;
    align-items: center;
    gap: .5em;

    position: absolute;
    right: 1em;

    .input-group {
      flex-direction: column;
    }

    .character-image {
      --size: 2rem;
    }
  }
}