.chevron {
  --size: 1rem;
  font-size: var(--size);
  width: var(--size);
  height: var(--size);

  &--up {
    transform: rotate(90deg);
  }

  &--down {
    transform: rotate(-90deg);
  }

  &--right {
    transform: rotate(180deg);
  }
}

*:has(> .chevron) {
  display: flex;
  align-items: center;
}