.building-page {
  main {
    display: flex;
    flex-direction: column;
    gap: 1em;

    >header {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        --margins: .25em;
      }

      p {
        color: var(--text-secondary);
      }
    }



    >section {
      &:not(:last-of-type)::after {
        content: '';
        display: block;
        width: 100%;
        margin-top: 2.5em;
        border-bottom: 1px solid var(--background-tertiary);
      }

      >h2 {
        text-align: center;
      }
    }
  }
}