@use '../../../styles/partials' as *;

.tier-list-creator {
  display: grid;
  gap: 1ch;

  .controls {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1ch;

    >* {
      margin: 0;
    }
  }
}

.tier {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 12ch 1fr;
  padding: 1ch;

  input {
    margin: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-right: 1ch;
    margin-right: 1ch;
    border-right: 1px solid var(--text-muted);
  }

  &__title {
    @extend %text-ellipsis;
    white-space: normal !important;

    text-align: center;
    margin: 0;

    &.inverted {
      filter: invert(1);
    }
  }

  &__items:not(:has(.searchable-list)) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1ch;
    min-height: 2em;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;

    &--selected {
      outline: 2px solid var(--brand);
      outline-offset: 2px;
      border-radius: .25em;
    }
  }

  .searchable-list__list {
    --min: 8ch;
    column-gap: 0;
  }
}

.tier__item-stack {
  position: relative;

  &__card {
    position: absolute;
    inset: 0;
    z-index: calc(10 - var(--stack-index));
    transform: translate(calc(var(--stack-index) * .5ch), calc(var(--stack-index) * .5ch));

    &:first-child {
      position: static;
    }
  }

  &__badge {
    position: absolute;
    top: -.75em;
    right: -.75em;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5em;
    height: 1.5em;
    padding: 0 .3em;
    border-radius: 999px;

    background-color: var(--brand);
    color: var(--text-primary);
    font-size: .8em;
    font-weight: bold;
  }
}

*[id*=modify-tier] {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  margin: 1ch 0 0;

  .tier__header {
    max-width: 11ch;
    padding: 0;
  }

  .tier__title {
    --margins: .5em;
    background-color: unset;
    border: none;
    font-size: min(var(--font-size)*2.5, 2em);
    color: var(--text-primary);
  }

  .input-group {
    display: grid;
    gap: 1ch;
  }
}

input[type=color] {
  --size: 2.5em;
  width: var(--size);
  height: var(--size);
  padding: 0;
}