.character-set {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  max-width: 100%;

  &.character-result {
    padding-inline: .5em;
  }

  p, a {
    color: var(--text-secondary);
  }
}

li:has(> .character-set) {
  padding: .5em;
}