@use '../colors' as colors;

body {
  --background-primary--muted: #{colors.$background-primary--muted};
  --background-primary: #{colors.$background-primary};
  --background-primary--light: #{colors.$background-primary--light};

  --background-secondary--muted: #{colors.$background-secondary--muted};
  --background-secondary: #{colors.$background-secondary};
  --background-secondary--light: #{colors.$background-secondary--light};

  --background-tertiary--muted: #{colors.$background-tertiary--muted};
  --background-tertiary: #{colors.$background-tertiary};
  --background-tertiary--light: #{colors.$background-tertiary--light};

  --background-quaternary--muted: #{colors.$background-quaternary--muted};
  --background-quaternary: #{colors.$background-quaternary};
  --background-quaternary--light: #{colors.$background-quaternary--light};

  --text-primary: #{colors.$text-primary};
  --text-secondary: #{colors.$text-secondary};
  --text-muted: #{colors.$text-muted};
  --text-link: #{colors.$text-link};
  
  --text-success: #{colors.$text-success};
  --text-warning: #{colors.$text-warning};
  --text-danger: #{colors.$text-danger};

  --brand--light: #{colors.$brand--light};
  --brand: #{colors.$brand};
  --brand--muted: #{colors.$brand--muted};

  --brand-alt: #{colors.$brand-alt};

  --element-anemo: #{colors.$element-anemo};
  --element-anemo--muted: #{colors.$element-anemo--muted};
  --element-cryo: #{colors.$element-cryo};
  --element-cryo--muted: #{colors.$element-cryo--muted};
  --element-dendro: #{colors.$element-dendro};
  --element-dendro--muted: #{colors.$element-dendro--muted};
  --element-electro: #{colors.$element-electro};
  --element-electro--muted: #{colors.$element-electro--muted};
  --element-geo: #{colors.$element-geo};
  --element-geo--muted: #{colors.$element-geo--muted};
  --element-hydro: #{colors.$element-hydro};
  --element-hydro--muted: #{colors.$element-hydro--muted};
  --element-pyro: #{colors.$element-pyro};
  --element-pyro--muted: #{colors.$element-pyro--muted};

  --rarity-common: #{colors.$rarity-common};
  --rarity-common--muted: #{colors.$rarity-common--muted};
  --rarity-uncommon: #{colors.$rarity-uncommon};
  --rarity-uncommon--muted: #{colors.$rarity-uncommon--muted};
  --rarity-rare: #{colors.$rarity-rare};
  --rarity-rare--muted: #{colors.$rarity-rare--muted};
  --rarity-epic: #{colors.$rarity-epic};
  --rarity-epic--muted: #{colors.$rarity-epic--muted};
  --rarity-legendary: #{colors.$rarity-legendary};
  --rarity-legendary--muted: #{colors.$rarity-legendary--muted};
}