@use '../colors' as colors;

body {
  --background-primary: #{colors.$background-primary};
  --background-secondary: #{colors.$background-secondary};
  --background-secondary--muted: #{colors.$background-secondary--muted};
  --background-tertiary: #{colors.$background-tertiary};
  --background-quaternary: #{colors.$background-quaternary};

  --text-primary: #{colors.$text-primary};
  --text-secondary: #{colors.$text-secondary};
  --text-muted: #{colors.$text-muted};
  --text-link: #{colors.$text-link};
  
  --text-danger: #{colors.$text-danger};

  --brand: #{colors.$brand};
}