@import '../../../../../styles/partials';

.mob-card {
  &[data-type="weekly-boss"] {
    --color: var(--rarity-legendary);
  }

  &[data-type="world-boss"] {
    --color: var(--rarity-epic);
  }

  &[data-type="boss"] {
    --color: var(--rarity-rare);
  }

  &[data-type="elite"] {
    --color: var(--rarity-uncommon);
  }

  &[data-type="easy"] {
    --color: var(--rarity-common);
  }

  .mob-image {
    border-radius: 50%;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 1.25rem;
    margin-bottom: .5em;
  }

  &__resin {
    min-width: fit-content;
    display: flex;
    align-items: center;

    &::after {
      display: none;
    }
  }

  &__type {
    background: var(--background-tertiary);
    color: var(--color); // Defined on .mob-card[data-type]
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: .75rem;
    font-weight: normal;
    text-transform: capitalize;
    flex-shrink: 0;
  }

  &__description {
    margin: 0;
    color: var(--text-secondary);
    overflow: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__region {
    color: var(--region);
  }

  &__drops {
    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      gap: .5em;

      .mob-drop-container {
        display: flex;
        justify-content: center;

        .mob-drop {
          display: flex;
          justify-content: center;
          
          height: 100%;
          width: 100%;
          margin: auto 0;
          padding-bottom: .5em;
        }

        header {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-template-rows: auto;
          // grid-template-areas: unset;
          align-items: center;
          gap: 0.5em;

          img {
            --size: 3rem;
          }

          .model-card__details {
            width: 100%;
          }

          .model-card__name {
            font-size: inherit;
            text-align: left;
            align-items: flex-start;

            &-text {
              flex: unset;
              width: unset;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }

  &__relations {
    .tab-bar__tab .material-card--light {
      display: flex;
      align-items: center;
      gap: .5em;

      img {
        --size: 2rem;
      }

      h3 {
        display: flex;
        align-items: center;
        gap: .5ch;
      }

      span {
        font-size: 1rem;
        color: var(--text-muted);
      }
    }
  }
}

a.mob-card {
  >header {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
  }

  .mob-card__name {
    flex-direction: column;
  }

  .mob-card__details {
    display: flex;
    align-items: center;
  }
}