img {
  --min-size: 1rem;
  --size: auto;
  --max-size: auto;

  max-width: var(--max-size);
  max-height: var(--max-size);

  width: var(--size);
  height: var(--size);

  min-width: var(--min-size);
  min-height: var(--min-size);

  object-fit: contain;
}

.character-image {
  background-color: var(--rarity--muted);
  border: 1px solid var(--element);
  border-radius: 50%;
}

.artifact-image {
  --size: 7.5rem;
}

.domain-image {
  --size: 15rem;
}

.element-image {
  --min-size: 1.2rem;
}

.weapon-image {
  --size: 1.5rem;
}

.material-image {
  --size: 2rem;
}