.searchable-list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__search {
    width: calc(100% - .25rem);
  }

  &__list {
    --min: 150px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    gap: 1em;
    width: 100%;
  }

  &__list-item--end {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    color: var(--text-muted);
  }
}