@use '../../../styles/partials' as *;

.searchable-list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .input-group {
    gap: 0;
  }

  &__search {
    width: calc(100% - .25rem);
  }

  &__list {
    --min: 150px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
    gap: 1em;
    width: 100%;
  }

  &__list-item--end {
    width: 100%;
    text-align: center;
    justify-content: center;
    color: var(--text-muted);
  }

  &:not(:has(.searchable-list__list)) &__list-item--end {
    margin-top: 0;
  }

  .filters {
    --width: 21ch;
    margin: .25rem;
    min-width: var(--width);

    &__header {
      margin: 0;
      z-index: 3;
    }

    > .select__options {
      display: grid;
      padding: .25rem;
      background-color: var(--background-secondary--light);
      gap: .25rem;

      .select--multiple {
        --margin: 0;
        min-width: calc(var(--width) - 1ch);
      }
    }

    >.floatable {
      padding-top: 1ch;
      top: calc(100% - .5ch);
    }

  }
}