@use '../../../styles/partials' as *;

.tab-bar__tabs {
  display: flex;
  background-color: var(--background-secondary);
  border-radius: .25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: .75ch solid var(--background-tertiary);

  overflow: auto;

  .chevron {
    margin-left: auto;
    margin-right: 1ch;
  }
}

.tab-bar__tab {
  box-shadow: none;
  border-right: 1px solid var(--background-tertiary);
  background-color: var(--background-secondary--muted);
  color: var(--text-muted);
  
  min-width: max-content;
  padding: .5em 1em;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

  &:not(:first-of-type) {
    border-top-left-radius: 0;
  }

  &:hover {
    color: var(--text-primary);
    cursor: pointer;
  }

  &--active {
    background-color: var(--background-tertiary);
    color: var(--text-secondary);
  }

  &:not(&--active):hover {
    background-color: var(--background-secondary);
  }
}

.tab-bar__content {
  display: grid;
  grid-template-areas: "content";
  padding: .5em .75em .5em;
  border: 1px solid var(--background-tertiary);

  &--collapsed {
    @extend .hidden;
  }

  &-page {
    grid-area: content;

    &:not(&--active),
    &:not(&--active) * {
      @extend .hidden;
    }
  }

  .select,
  button {
    margin-inline: 0;
  }
}