.item-page-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  min-height: 5rem;

  h1 {
    text-align: center;
  }

  button {
    justify-self: end;

    &.favorite-button {
      display: flex;
      align-items: center;
      gap: .25ch;

      .favorite-star {
        --gap: 0;
        position: relative;

        svg {
          --size: 1.25rem;
        }
      }
    }
  }
}