.artifact-tab-bar {
  --artifact-image-size: 3rem;
  grid-column: 1 / -1;

  .artifact-card {
    >header {
      --image-size: var(--artifact-image-size);
    }

    .artifact-image {
      --size: var(--artifact-image-size);
    }

    .artifact-card__name {
      font-size: 1rem;
    }
  }

  .searchable-list__list {
    --min: 16em;

    .character-card>p {
      grid-column: 1 / -1;
      color: var(--text-secondary);

      span {
        color: var(--text-primary);

        &.character-details {
          &__effectiveness,
          &__set-name {
            font-weight: bold;
          }
        }
      }
    }

    .character-details__grouped {
      flex-direction: column;
      align-items: flex-start;
      gap: .5ch;

      li {
        list-style-type: none;

        &::before {
          content: '•';
          margin-right: 1ch;
        }
      }
    }
  }
}