.new-user-modal {
  text-align: center;

  h1 {
    --margins: 1em;
  }

  p {
    --margins: 1em;
  }

  form {
    flex-direction: column;
  }

  .intro-sentence {
    display: flex;
    align-items: center;
    gap: 1ch;

    label {
      display: none;
    }
  }

  .character-image {
    --size: 7.5ch;
    border-radius: 50%;
  }
}