.search-form {
  display: flex;
  align-items: center;
  gap: .75rem;

  .artifact-set-select {
    display: flex;
    gap: 1em;
    align-items: center;

    select {
      width: 100%;
    }

    .artifact-image {
      --size: 3rem;
    }
  }

  @media screen and (max-width: 75rem) {
    display: grid;

    .select {
      width: unset;
    }
  }

  >* {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}