.domains-page {
  --card-size: 17.5em;

  .searchable-list__list {
    --min: var(--card-size);

    .domains-list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background-primary--muted);
      border-radius: .5em;

      &:hover {
        background-color: var(--background-primary--light);
        transition: background-color 150ms;
      }

      .favorite-star {
        top: -.25ch;
      }

      .domain-card > header {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        .model-card__details * {
          text-align: center;
        }
      }
    }

    .domain-card__name {
      text-align: center;
      --margins: .25em;
    }

    .domain-image {
      --size: var(--card-size);
    }
  }
}