@import '../../../../../styles/partials';

.material-card {
  &[data-allow-pagination=true][data-show-details=true] {
    .material-card__details {
      grid-template-areas:
        "name pagination"
        "details pagination";
    }
  }

  &[data-today=true] {
    .material-card__name-text {
      text-decoration: underline;
    }
  }

  .material-image {
    --size: 3.5rem;
  }

  &__details {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: space-between;
    gap: .5em;

    height: auto;
    width: 100%;

    &-container {
      display: flex;
      flex-direction: column;
      gap: .5em;
    }
  }

  &__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25ch;

    font-size: 1.25rem;
    margin: 0;
    width: 100%;

    .rarity-list {
      margin-right: auto;
    }
  }

  &__description {
    --margins: 0;
    max-height: 10rem;
    overflow: auto;
  }

  &__model-acquired,
  &__models-using {
    display: grid;
  }

  &--empty {
    color: var(--text-primary);

    display: grid;
    font-weight: bold;
    place-items: center;
  }

  >section {
    display: flex;
    flex-direction: column;

    >* {
      flex: 1 1 auto;
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}

a.material-card {
  >header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .material-card__details {
      display: flex;
      justify-content: center;
    }

    .material-card__name {
      flex-direction: column;
    }

    .material-card__name-text {
      text-align: center;
    }

    .material-card__pagination {
      flex-direction: row;
    }

    .material-card__region {
      justify-content: center;
    }
  }
}