$background-primary--muted: #2d2d2d;
$background-primary: #333;
$background-primary--light: #3a3a3a;

$background-secondary--muted: #404040;
$background-secondary: #444;
$background-secondary--light: #4a4a4a;

$background-tertiary--muted: #4d4d4d;
$background-tertiary: #555;
$background-tertiary--light: #5a5a5a;

$background-quaternary--muted: #5d5d5d;
$background-quaternary: #666;
$background-quaternary--light: #6b6b6b;

$text-primary: #eee;
$text-secondary: #d1d1d1;
$text-muted: #999;
$text-link: #7b85fd;

$text-success: hsl(146, 67%, 37%);
$text-danger: hsl(0, 80%, 65%);

$brand: #2793b1;
$brand-muted: #18525ecc;

$muted-alpha: 20%;
$element-anemo: rgb(117, 194, 168);
$element-anemo--muted: rgba(117, 194, 168, $muted-alpha);
$element-cryo: rgb(158, 213, 224);
$element-cryo--muted: rgba(158, 213, 224, $muted-alpha);
$element-dendro: rgb(161, 200, 55);
$element-dendro--muted: rgba(161, 200, 55, $muted-alpha);
$element-electro: rgb(176, 143, 193);
$element-electro--muted: rgba(176, 143, 193, $muted-alpha);
$element-geo: rgb(248, 178, 48);
$element-geo--muted: rgba(248, 178, 48, $muted-alpha);
$element-hydro: rgb(77, 196, 239);
$element-hydro--muted: rgba(77, 196, 239, $muted-alpha);
$element-pyro: rgb(239, 121, 57);
$element-pyro--muted: rgba(239, 121, 57, $muted-alpha);

$rarity-common: #CFCFCF;
$rarity-uncommon: #7FFC7F;
$rarity-rare: #7EBFFF;
$rarity-epic: #BF7FBF;
$rarity-legendary: #FFDF7F;