%character-details-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;

  li {
    // list-style: disc !important;
    margin: unset;
  }
}

%visually-hidden {
  opacity: 0;
  max-height: 0;
  z-index: -1;
  pointer-events: none;
  visibility: hidden;
}

%collapsed {
  height: 0;
  overflow: hidden;
}

%text-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}