%character-details-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding-left: 2ch;

  li {
    list-style: disc !important;
    margin: unset;
  }
}

%hidden {
  opacity: 0;
  height: 0;
  z-index: -1;
  pointer-events: none;
}