@use './partials' as partials;

@layer defaults, components;

@layer defaults {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    position: relative;
  }

  @import './modules/index.scss';

  body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    margin: 0;
  }

  .hidden {
    @extend %hidden;
  }

  .muted {
    color: var(--text-muted);
  }

  .input-group, *:has(> input, > label) {
    display: flex;
    align-items: center;
    gap: .5ch;
  }
}