@use './partials' as partials;

@layer defaults, components;

@layer defaults {
  @import './modules/index.scss';

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    min-width: 0;
  }

  body {
    background-color: var(--background-primary);
    color: var(--text-primary);
    margin: 0;
  }

  body,
  #root {
    min-height: 100vh;
  }

  #root {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
  }

  .hidden {
    @extend %hidden;
  }

  .muted {
    color: var(--text-muted);
  }

  .disclaimer {
    font-size: .8em;
  }

  .clickable {
    cursor: pointer;
  }

  .input-group,
  *:has(> input, > label) {
    display: flex;
    align-items: center;
    gap: .5ch;
  }
}

@layer components {
  @import './modules/common-components.scss';
}