.settings-modal {
  --margin: 2em;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - var(--margin) * 2);
  
  margin: var(--margin) auto;
  align-items: unset;

  .modal-content {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1em;
    max-height: 100%;
    overflow: hidden;
  }

  .model-content > p {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > .button-panel {
      align-self: flex-end;
    }
  }

  .select[name="preferredTabs.results"] {
    min-width: 12ch;
  }
  .select[name=region] {
    min-width: 15ch;
  }

  .character-image {
    --size: 5ch;
  }

  .preferred-tabs-setting {
    display: grid;
    gap: 0.5rem;
  }

  .input-group:has(.preferred-tabs-setting) {
    align-items: start;
  }
}