.settings-modal {
  p {
    margin-bottom: 2rem;
  }

  form {
    display: grid;
    gap: 1rem;
  }

  .select[name="preferredTabs.results"] {
    min-width: 12ch;
  }
  .select[name=region] {
    min-width: 15ch;
  }

  .character-image {
    --size: 5ch;
  }
}