@use '../../styles/partials' as *;

.characters-list {
  .searchable-list__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1ch;
  }

  .character-details__grouped {
    @extend %character-details-dropdown;
  }
}