.context-menu-container {
  position: relative;

  .context-menu {
    position: absolute;
    z-index: 100;
    background-color: var(--background-primary);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .25);
    border-radius: .5em;
    width: max-content;

    &-item {
      display: flex;
      gap: .5ch;
      padding: 1ch;
      cursor: pointer;
      align-items: flex-end;

      &:hover {
        background-color: var(--background-secondary);
      }

      &:first-of-type {
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
      }

      &:last-of-type {
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
      }
    }

    &-divider {
      display: flex;
      align-items: center;
      width: 100%;
      color: var(--background-quaternary);
      user-select: none;

      &[data-label] {
        gap: 1ch;
      }

      &::before,
      &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: var(--background-secondary);
        flex: 1;
      }
    }

    >*:first-child.context-menu-divider {
      padding-top: .5ch;
    }
  }
}