.context-menu-container {
  position: relative;

  .context-menu {
    position: absolute;
    z-index: 100;
    background-color: var(--background-primary);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .25);

    &-item {
      padding: 1ch;
      cursor: pointer;

      &:hover {
        background-color: var(--background-secondary);
      }
    }
  }
}