.search-form {
  display: flex;
  align-items: stretch;
  gap: .75rem;

  @media screen and (max-width: 75rem) {
    display: grid;

    .select {
      width: unset;
    }
  }

  >* {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}