@import '../../../../../styles/partials';

.character-card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1em;

  width: 100%;

  .bonus-ability {
    @extend %text-ellipsis;
  }

  :is(h1:not(::after), h2, h3, .character-card__name-text) {
    background: linear-gradient(to bottom, var(--element) 60%, var(--element--muted) 95%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Fallback for browsers that don't support background-clip: text */
    @supports not (-webkit-background-clip: text) {
      color: var(--element);
    }

    &::after {
      -webkit-text-fill-color: initial;
    }
  }

  .character-card__name {
    font-size: 1.25rem;
    
    img {
      --max-size: 1.5rem;
      flex-shrink: 0;
    }

    a {
      font-size: 1.75rem;
      color: var(--element);
    }
  }

  .region {
    color: var(--region);
  }

  .passive-talent {
    color: var(--text-tertiary);

    strong {
      margin-right: .5ch;
    }
  }

  .character-card__content {
    flex-direction: row;
    flex-wrap: wrap;

    .character-ascension {
      // grid-area: ascension;
      width: max-content;
      flex: 1 1 100%;

      &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        gap: 1em;

        .model-card {
          height: 100%;
          justify-content: center;
        }

        .material-image {
          --size: 5rem;
        }
      }
    }
  }

  .character-playstyle-wrapper {
    flex: 1 1 48%;
  }

  .character-signature-weapon {
    flex: 1 1 48%;

    display: grid;
    grid-template-rows: auto 1fr;

    .weapon-image {
      --size: 10rem;
    }
  }
}

.character-details {
  overflow: hidden;

  &__grouped {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: disc;
    gap: 3ch;
    margin-top: .25ch;

    li::before {
      content: '•';
      margin-right: .5ch;
      margin-left: 1ch;
    }

    .bonus-ability[data-ability-asterisk]::after {
      content: '*';
      color: var(--element);
      margin-left: .25ch;
    }
  }

  &__score {
    margin: 0;
    color: var(--element);
  }
}

li:has(> .character-card, > * > .character-card) {
  box-shadow: 0 0 1em rgba(0, 0, 0, .25);
  transition: all 150ms ease-in-out;
  border-radius: .5em;
  display: grid;
  grid-auto-rows: auto 1fr;
}

li:has(.character-card) {
  .character-card {
    padding: .5em;
    border-radius: .5em;
  }
}

a.character-card {
  border: 1px solid var(--element);
  gap: .25rem;

  &:hover {
    background-color: var(--element--muted);
  }

  > header {
    display: flex;
    justify-content: center;
  }
  .character-card__content {
    justify-content: center;
  }

  .image-container {
    width: max-content;

    &:last-of-type {
      margin-right: 1ch;
    }
  }

  .element-image {
    --max-size: 1.25rem;
  }
}