.search-result-item {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1em;
  
  padding: .5em;
  background-color: var(--background-primary--light);
  border: 1px solid var(--element);
  border-radius: .5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, .25);

  &--end button {
    margin-left: .5ch;
  }

  .character-details {
    &__name {
      margin: 0;

      a {
        font-size: 1.75rem;
      }
    }

    &__grouped {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      list-style-type: disc;
      gap: 3ch;
    }

    li:first-of-type {
      list-style: none;
    }

    &__score {
      margin: 0;
      color: var(--element);
    }
  }

  .character-result {
    flex: 1 1 100%;
    max-width: 100%;

    h3 {
      margin: .75em 0 .5em;
    }

    p {
      color: var(--text-secondary);
    }

    span {
      color: var(--text-primary);
    }
  }
}