.domain-card {
  display: grid;
  height: 100%;

  &__name {
    --margins: .25em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - var(--margins) * 2);
  }

  >aside {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    align-items: center;
  }

  .domain-image {
    border-radius: .25em;
    margin-inline: auto;
  }

  .domain-details__region {
    text-align: center;
    color: var(--text-secondary);

    span {
      color: var(--region);
    }
  }

  .domain-rewards {
    display: flex;
    flex-direction: column;
  }

  .artifact-card {
    padding: .5em .25em .5em 0;
    align-items: flex-start;
    grid-template-columns: unset;

    >header {
      --image-size: 7.5rem;
      display: grid;
      grid-template-columns: var(--image-size) 1fr;
      align-items: center;
    }
  }

  .artifact-tab-bar .artifact-card {
    height: 4rem;
  }
}

.domain-card--show-more {
  display: grid;
  gap: 1em;

  .domain-details {
    >header {
      display: flex;
      gap: 1ch;

      .resin-cost::before {
        content: ' • ';
      }
    }
  }
}

a>.domain-card {
  &__name {
    margin-inline: auto;
  }

  >aside {
    display: grid;
    align-content: space-between;
  }
}

@media (min-width: 1000px) {
  .domain-card--show-more {
    grid-auto-flow: row;
    grid-template-columns: 1fr auto;
  }

  .domain-details__description {
    max-width: 66ch;
  }
}