.domain-card {
  &:is(&--show-more) {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;

    .domain-details {
      >header {
        display: flex;
        gap: 1ch;

        .resin-cost::before {
          content: ' • ';
        }
      }
    }
  }

  >aside {
    display: flex;
    flex-direction: column;
  }

  .domain-image {
    border-radius: .25em;
  }

  .domain-details__region {
    text-align: center;
    color: var(--text-secondarwy);

    span {
      color: var(--region);
    }
  }

  .domain-rewards {
    display: flex;
    flex-direction: column;
  }

  .artifact-card {
    padding: .5em .25em .5em 0;
    align-items: flex-start;

    >header {
      --image-size: 7.5rem;
      display: grid;
      grid-template-columns: var(--image-size) 1fr;
      align-items: center;
    }
  }
}