@use '../../../../styles/partials' as *;

.domain-card {
  display: grid;
  gap: 1em;
  height: 100%;

  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
  }

  .domain-image {
    border-radius: .25em;
    margin-inline: auto;
  }

  &__details {
    display: flex;
    flex-direction: column;

    >header {
      display: grid;
    }
  }

  &__name {
    @extend %text-ellipsis;

    --margins: .25em;
    max-width: calc(100% - var(--margins) * 2);
    font-size: clamp(1.25rem, 3vw, 3rem);
  }

  .domain-card__region {
    color: var(--region);
  }

  .domain-rewards {
    display: flex;
    flex-direction: column;

    .artifact-card {
      &:hover {
        border-radius: .25em;
        background-color: var(--background-secondary);
      }
    }
  }

  .artifact-card {
    >header {
      --image-size: 7.5rem;
      display: grid;
      grid-template-columns: var(--image-size) 1fr;
      align-items: center;
      justify-items: start;

      .artifact-card__name {
        text-align: left;
      }
    }
  }

  .artifact-tab-bar {
    .tab-bar__tab {
      padding-inline: .5em;
    }

    .artifact-card {
      padding-inline: .5em;
      
      >header {
        gap: .5em;
      }
    }
  }
}

.domain-card--show-more {
  .domain-details {
    >header {
      display: flex;
      gap: 1ch;

      .resin-cost::before {
        content: ' • ';
      }
    }
  }
}

a>.domain-card {
  &__name {
    margin-inline: auto;
  }

  >aside {
    display: grid;
    align-content: space-between;
  }
}

@media (min-width: 1000px) {
  .domain-details__description {
    max-width: 66ch;
  }
}