.artifact-card {
  .artifact-details {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 2rem;
  }

  .domain-list-section {
    display: grid;
    grid-template-rows: auto 1fr;

    .tab-bar {
      height: 100%;
    }

    .domain-card > header {
      align-items: start;
    }
  }

  &:has(.artifact-sets)>header {
    display: grid;
    gap: 1em;
    align-items: center;

    @media screen and (min-width: 0px) {
      grid-template-rows: auto 1fr;
      grid-template-columns: unset;
      justify-items: center;
    }

    @media screen and (min-width: 750px) {
      grid-template-columns: auto 1fr;
      justify-items: unset;
    }
  }

  @media screen and (min-width: 1100px) {
    gap: 1em;

    >header {
      grid-area: header;
    }

    >.artifact-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .artifact-details {
      max-width: 66ch;
    }

    .domain-card {
      grid-auto-flow: row;
      grid-template-columns: unset;

      .domain-image {
        margin-inline: auto;
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .domain-card {
      grid-auto-flow: column;
    }
  }
}

.artifacts-list-item {
  padding: .5em;
  border-radius: .5em;
  height: auto;
  transition: background-color 150ms ease-in-out;
}

a.artifact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;

  >header {
    display: flex;
    justify-items: center;
    gap: 0;
  }

  .artifact-card__name {
    flex-direction: column;
  }
}