.rarity-list {
  display: flex;

  &--Common {
    color: var(--rarity-common);
  }

  &--Uncommon {
    color: var(--rarity-uncommon);
  }

  &--Rare {
    color: var(--rarity-rare);
  }

  &--Epic {
    color: var(--rarity-epic);
  }

  &--Legendary {
    color: var(--rarity-legendary);
  }
}