.priority-list {
  .tab-bar__tab {
    display: flex;
    align-items: center;
    gap: 1ch;
    padding: .25em .5em;

    .close {
      position: relative;
    }
  }

  .tier__title {
    font-size: 1.25rem;
  }
}