.priority-list {
  .tab-bar__tab {
    padding: .25em .75em;
  }

  .priority-list-tab {
    display: flex;
    align-items: center;
    gap: .5ch;

    .close {
      position: relative;
    }
  }

  .tier__title {
    font-size: 1.25rem;
  }
}