.priority-list {
  height: 100%;

  .tab-bar__tab {
    min-width: auto;
    padding: .25em .75em;
  }

  .priority-list-tab {
    display: flex;
    align-items: center;
    gap: .5ch;

    span {
      flex: 1 1 auto;
    }

    .close {
      position: relative;
      width: auto;
    }
  }

  .tier__title {
    font-size: 1.25rem;
  }

  .chevron {
    margin-top: auto;
  }

  .character-image {
    --size: 4rem;
    border-radius: unset;
  }
}