.data-hub {
  display: flex;
  flex-direction: column;
  gap: 2em;

  &__header {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    justify-items: center;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;

      a {
        text-decoration: none;
        background-color: var(--background-secondary);
        color: var(--text-tertiary);
        border: 1px solid var(--background-tertiary);
        padding: .5em 1em;
        border-radius: .25rem;

        &:hover {
          color: var(--text-primary);
          border-color: var(--background-quaternary);
          text-decoration: underline;
        }
      }
    }
  }

  .categories-overview {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
  }

  .category-section {
    &__header {
      display: flex;
      align-items: center;
      gap: .5em;
      font-size: 1.25em;
      border-bottom: 2px solid var(--background-tertiary);
      margin-bottom: 1em;

      a {
        text-decoration: none;
        color: var(--text-primary);
        font-weight: bold;
        font-size: 1.25em;

        &:hover {
          text-decoration: underline;
        }

        h2 {
          --margins: 0;
        }
      }

      .model-count {
        font-size: 1rem;
        color: var(--text-secondary);

        &::before {
          content: "•";
          margin-right: .25em;
          color: var(--text-muted);
        }
      }
    }

    .models-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      gap: 1em;

      > li {
        display: grid;
      }

      > li > .model-card {
        > header > img {
          --size: 5rem;
          border-radius: 50%;
        }

        .model-card__name {
          font-size: 1.5rem;
        }

        p {
          --margins: .25em;
        }
      }
    }
  }
}