.settings-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;

  .setting-preferredTabs {
    display: grid;

    .preferred-tabs-setting {
      width: 100%;
    }
  }
}