.material-card__models-using,
.material-card__model-acquired {
  &:last-child {
    margin-bottom: 0;
  }

  .local-specialty {
    display: flex;

    .region {
      margin-left: .5ch;
    }
  }

  .collapsible--open .collapsible__content {
    --max-height: auto;
    height: 100%;
  }
}