.material-card__relations {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
}

.material-card__models-using,
.material-card__model-acquired {

  &:last-child {
    margin-bottom: 0;
  }

  .local-specialty {
    display: flex;

    .region {
      margin-left: .5ch;
    }
  }

  h4 {
    margin: 0 0 0.5rem 0;
    font-size: .9rem;
    font-weight: bold;
    color: var(--text-secondary);
  }
}