.character-playstyle {
  display: grid;
  grid-template-rows: min-content max-content;
  gap: 1em;
  max-width: 100%;

  &.character-result {
    padding-inline: .5em;
    gap: 0;
  }

  p,
  a {
    color: var(--text-secondary);
  }

  .playstyle-recommendations {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 2em;

    .recommended-talent-ascension {
      display: grid;
      grid-template-rows: auto 1fr;

      &__list {
        display: grid;
      }
    }

    ol {
      background-color: var(--background-secondary--muted);
      border-radius: .5em;
      padding: .5em;
      font-size: 1.5rem;
      max-height: max-content;

      li {
        display: flex;
        align-items: center;
        gap: .5em;

        counter-increment: list-item;

        &::before {
          content: counter(list-item) ".";
          margin-inline-end: .5em;
        }
      }
    }
  }
}

li:has(> .character-playstyle) {
  padding: .5em;
}