.account-settings {
  $border: 1px solid var(--background-secondary);
  
  header, footer {
    padding: 1rem 0;
    margin: .5rem 0 1rem;
  }

  header {
    padding-top: 0;
    border-bottom: $border;
  }

  .sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  footer {
    padding-bottom: 0;
    border-top: $border;
  }

  .setting {
    --_account-name-size: 16ch;

    .select {
      width: var(--_account-name-size);
    }

    &-traveler {
      gap: 1rem;
    
      .character-image {
        --size: 7.5ch;
      }
    }

    &-selectedAccountName {
      flex-direction: column;
      align-items: start;
    }

    &-worldRegion {
      .select {
        min-width: 18ch;
      }
    }

    &-accountCrud {
      grid-auto-flow: column;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 1fr !important;

      .button-panel {
        gap: .5em;
        justify-self: start;
        justify-items: start;
      }
    }
  }
}