.account-settings {
  header {
    border-bottom: 1px solid var(--background-secondary);
    padding-bottom: 1rem;
    margin: .5rem 0 1rem;
  }

  .setting-traveler {
    gap: 1rem;
    
    .character-image {
      --size: 7.5ch;
    }
  }
}