@import '../../../../styles/partials';

.character-card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1em;

  width: 100%;
}

.character-details {
  overflow: hidden;

  &__name {
    margin: 0;
    color: var(--element);
    font-weight: bold;
    font-size: 1.25rem;

    --max-lines: 2;
    display: -webkit-flex;
    align-items: center;
    gap: .5ch;

    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;

    .character-name {
      display: flex;
      align-items: center;
      gap: .75ch;

      &__value {
        @extend %text-ellipsis;
      }

      >span {
        display: flex;
        align-items: center;
      }

      img {
        --max-size: 1.5rem;
        flex-shrink: 0;
      }
    }

    a {
      font-size: 1.75rem;
      color: var(--element);
    }
  }

  &__grouped {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: disc;
    gap: 3ch;
    margin-top: .25ch;

    li::before {
      content: '•';
      margin-right: .5ch;
      margin-left: 1ch;
    }
  }

  &__score {
    margin: 0;
    color: var(--element);
  }
}

li:has(> .character-card, > * > .character-card) {
  background-color: var(--background-primary--light);
  box-shadow: 0 0 1em rgba(0, 0, 0, .25);
  transition: all 150ms ease-in-out;
  border-radius: .5em;
  display: grid;
}

li:has(.character-card) {
  .character-card {
    padding: .5em;
    border-radius: .5em;
  }
}

a.character-card {
  border: 1px solid var(--element);

  &:hover {
    background-color: var(--element--muted);
  }
}