.artifact-sets-pieces-content {
  --min: 300px;

  &__list-item a {
    .character-image {
      --size: 5em;
    }

    .character-card__content {
      gap: unset;

      p {
        --margins: .25em;
      }
    }

    h3 {
      margin: 0;
      margin-top: .25em;
    }
  }
}