.artifact-descriptions {
  >header {
    display: flex;
    align-items: center;
    gap: 1ch;
  }

  &__2-piece,
  &__4-piece {
    display: flex;
    align-items: flex-start;
    gap: 0.5ch;

    &::before {
      font-weight: bold;
      flex-shrink: 0;
    }
  }

  &__2-piece::before {
    content: "2-piece:";
  }

  &__4-piece::before {
    content: "4-piece:";
  }

  &__craftable {
    font-weight: bold;
  }
}

a:has(.artifact-descriptions) {
  .regions-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em auto;
    padding-bottom: .5em;
    width: 100%;
    overflow: auto;

    .region-item {
      min-width: max-content;
    }
  }

  .artifact-descriptions p {
    flex-direction: column;
  }
}