.artifact-card {
  .artifact-image {
    --size: 7.5rem;
    width: var(--size);
    height: var(--size);
  }

  &:has(.artifact-sets) > header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    align-items: center;
  }
}

.artifacts-list-item {
  background-color: var(--background-primary--muted);
  padding: .5em;
  border-radius: .5em;
  height: auto;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--background-primary--light);
  }
}

a.artifact-card {
  display: flex;
  flex-direction: column;

  > header {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &:hover {
    background-color: var(--background-primary--light);
  }

  .artifact-card__name {
    text-align: center;
  }
}