.input-group {
  display: flex;
  // margin-bottom: 1rem;

  label {
    font-weight: 500;
    flex: 1 1 100%;
  }
  label + * {
    flex: 1 1 auto;
    width: auto;
  }

  &:has([required]) label::after {
    content: ' *';
    color: var(--text-danger);
  }
}