.popover__content>.character-card {
  .character-ascension__list {
    --min-size: 5em;

    .material-card {
      --fz: .75rem;

      &__name-text {
        font-size: var(--fz);
      }

      &__obtainable-days-item {
        font-size: var(--fz);
      }

      .material-image {
        --size: 3rem;
      }
    }
  }

  .character-playstyle .playstyle-recommendations {
    --min-size: 18em;
  }

  .character-artifacts-combinations {
    .artifact-image {
      --size: 3rem;
    }

    .piece {
      --fz: 1.2rem;

      font-size: var(--fz);

      &::before {
        font-size: calc(var(--fz) * .85);
      }
    }
  }

  .weapon-card {
    .weapon-card__name-text {
      max-width: 20ch;
    }

    .weapon-image {
      --size: 3rem;
    }

    .weapon-description {
      max-width: 30ch;
    }
  }
}
