.settings-option+.settings-option {
  border-top: 1px solid var(--background-secondary);
  padding-top: 1rem;
}

.settings-option {
  aside {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .25rem;
    width: 100%;
    flex: 1;

    >label {
      font-size: 1.1rem;
      font-weight: bold;
      flex: 1;
    }
  }

  .input-group {
    display: flex;
    justify-items: end;

    &.setting-preferredTabs {
      grid-template-columns: auto;
      grid-template-rows: auto 1fr;
      justify-items: start;
    }
  }

  .traveler-select {
    display: flex;
    gap: .5rem;
    align-items: center;
  }
}