.priority-list-button-container {
  padding: .5em;
  border-bottom: 1px solid var(--background-primary--light);
}

.priority-list-button {
  font-size: 14px;
  padding: .5em .75em;

  b {
    font-size: inherit;
  }
}