@use '../../../../../styles/partials' as *;

.weapon-card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1em;

  width: 100%;

  .weapon-card__name {
    margin: 0;
    color: var(--rarity-color, var(--text-primary));
    font-weight: bold;
    font-size: 1.25rem;

    display: flex;
    align-items: center;
    gap: .5ch;

    &__value {
      @extend %text-ellipsis;
    }

    .weapon-type {
      display: flex;
      align-items: center;
      gap: .5ch;
      font-size: inherit;

      img {
        --max-size: 2rem;
      }

      &__value {
        font-weight: normal;
        color: var(--text-muted);
      }
    }

    a {
      font-size: 1.75rem;
      color: var(--rarity-color, var(--text-primary));
    }
  }

  .weapon-image {
    --size: 3.5rem;
  }

  label {
    font-weight: bold;
    color: var(--text-muted);
  }

  .weapon-signature {
    flex-direction: column;
    align-items: flex-start;
  }
}

.weapon-details {
  overflow: hidden;

  &__grouped {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: .25em;
  }
}

.weapon-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .5em;
}

.weapon-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5ch;

  .weapon-image {
    --size: 1.2rem;
  }

  &__value {
    color: var(--text-primary);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5ch;
  }
}

.weapon-source {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5ch;
  font-size: 0.9rem;

  &__value {
    color: var(--text-primary);
    font-weight: normal;
    font-style: italic;
  }
}

.weapon-card__content {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .weapon-description {
    color: var(--text-secondary);

    b {
      color: var(--text-primary);
    }
  }
}

.weapon-ascension__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;

  .weapon-ascension__item, .material-card {
    height: 100%;
    justify-content: center;
  }
}

a.weapon-card {
  .model-card__name {
    flex-direction: column;
    
    @extend %text-ellipsis;

    align-items: flex-start;
    margin-bottom: .25em;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
}