.character-page {
  .character-card {
    &__name {
      font-size: 2rem;
    }

    .character-image {
      --size: 10rem;
      border-radius: 100%;
      border: 1px solid var(--element);
    }

    .character-sets {
      grid-area: sets;
    }
  }
}