.main-mob-card {
  .mob-image {
    --size: 10rem;
  }

  h1 {
    font-size: clamp(1.25rem, 2vw + 1rem, 2rem);
    margin-bottom: .25em;
  }

  .mob-card__details {
    justify-content: center;
  }
}